# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\esteb\Documents\Universidad de Costa Rica\Semestre II\CI0112 - Programación I\Tareas\Tarea1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
